@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: monospace;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d4ed8;
}
