@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.reg {
    position: relative;
    overflow: hidden;
}

.reg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/images/reg.jpg");
    opacity: 0.15;
    z-index: 0;
}

.reg>* {
    position: relative;
    z-index: 1;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/images/hero.png") center / contain no-repeat;
    opacity: 0.25;
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}

/* .heroBg {
    background-image: #000;
    background-image:
        radial-gradient(at 40% 20%, rgb(59, 59, 236) 0, transparent 50%),
        radial-gradient(at 80% 0%, rgba(172, 172, 172, 0.401) 0, transparent 50%),
        radial-gradient(at 0% 50%, rgb(0, 0, 0) 0, transparent 50%),
        radial-gradient(at 58% 46%, rgb(87, 80, 82) 0, transparent 50%),
        radial-gradient(at 0% 100%, rgba(107, 105, 104, 0.518) 0, transparent 50%),
        radial-gradient(at 80% 100%, rgb(0, 0, 0) 0, transparent 50%),
        radial-gradient(at 0% 0%, rgba(55, 39, 222, 0.51) 0, transparent 50%);
    height: 80%;
    width: 100%;
    position: absolute;
    margin: 0;
    z-index: -1;
} */

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}