@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.reg {
    position: relative;
    overflow: hidden;
}

.reg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/images/reg.jpg");
    opacity: 0.15;
    z-index: 0;
}

.reg>*{
    position: relative;
    z-index: 1;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/images/hero.png") center / contain no-repeat;
    opacity: 0.25;
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}


/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}